body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
}

header {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background: white;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

button {
    background: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
